
.select,
#locale {
    width: 100%;
}

.like {
    margin-right: 10px;
}

.cdk-header-cell.cdk-column-id.mat-column-id,
.cdk-header-cell.cdk-column-name.mat-column-name,
.cdk-header-cell.cdk-column-lat.mat-column-lat,
.cdk-header-cell.cdk-column-lon.mat-column-lon {
    background-color: yellow;
}