<div class="container">
    <h1>Cities</h1>
    <p>Here's a list of cities: feel free to play with it.</p>
    <p *ngIf="!cities"><em>Loading...</em></p>
    <p *ngIf="!cities"><img src="assets/img/Loading30.gif" alt="animated Loading"></p>
    <table class="table table-bordered table-striped" [hidden]="!cities">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Lat</th>
                <th>Lot</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of cities">
                <td>{{item.id}}</td>
                <td>{{item.name}}</td>
                <td>{{item.lat}}</td>
                <td>{{item.lon}}</td>
            </tr>
        </tbody>
    </table>
</div>