<div class="city-edit">
  <h1>{{title}}</h1>
  <p *ngIf="id && !city"><img src="/assets/img/Loading30.gif" alt="animated Loading"></p>
  <div [formGroup]="form" (ngSubmit)="onSubmit">
    <!-- Name -->
    <mat-form-field>
      <mat-label>Name:</mat-label>
      <input matInput formControlName="name" required placeholder="Type a name">
    </mat-form-field>
    <!-- Lat -->
    <mat-form-field>
      <mat-label>Latitude:</mat-label>
      <input matInput formControlName="lat" required placeholder="Type a latitude">
    </mat-form-field>
    <!-- Lon -->
    <mat-form-field>
      <mat-label>Longitude:</mat-label>
      <input matInput formControlName="lon" required placeholder="Type a longitude">
    </mat-form-field>
    <p *ngIf="countries">
      <select id="countryId" formControlName="countryId">
        <option value="">-- Select a country --</option>
        <option *ngFor="let country of countries" [value]="country.id">{{country.name}}</option>
      </select>
    </p>
    <div>
      <button mat-flat-button color="primary" type="submit" (click)="onSubmit()">{{this.id?"Save":"Create"}}</button>
      <button mat-flat-button color="secondary" [routerLink]="['/cities']">Cancel</button>
    </div>
  </div>
</div>