<div class="city-edit">
  <h1>{{title}}</h1>
  <p *ngIf="id && !city"><img src="/assets/img/Loading30.gif" alt="animated Loading"></p>
  <div [formGroup]="form" (ngSubmit)="onSubmit">
    <!-- Name -->
    <mat-form-field>
      <mat-label>Name:</mat-label>
      <input matInput formControlName="name" required placeholder="Type a name">
      <mat-error *ngIf="form.controls['name'].errors?.['required']">Name is required.</mat-error>
    </mat-form-field>
    <!-- Lat -->
    <mat-form-field>
      <mat-label>Latitude:</mat-label>
      <input matInput formControlName="lat" required placeholder="Type a latitude">
      <mat-error *ngIf="form.controls['lat'].errors?.['required']">Latitude is required.</mat-error>
    </mat-form-field>
    <!-- Lon -->
    <mat-form-field>
      <mat-label>Longitude:</mat-label>
      <input matInput formControlName="lon" required placeholder="Type a longitude">
      <mat-error *ngIf="form.controls['lon'].errors?.['required']">Longitude is required.</mat-error>
    </mat-form-field>
    <mat-form-field *ngIf="countries">
      <mat-label>Select an Country...</mat-label>
      <mat-select id="countryId" formControlName="countryId">
        <mat-option *ngFor="let country of countries" [value]="country.id">{{country.name}}</mat-option>
      </mat-select>
      <mat-error *ngIf="form.controls['countryId'].errors?.['required']">Please select a Country.</mat-error>
    </mat-form-field>
    <div>
      <button mat-flat-button color="primary" type="submit" (click)="onSubmit()" [disabled]="!form.valid">{{this.id?"Save":"Create"}}</button>
      <button mat-flat-button color="secondary" [routerLink]="['/cities']">Cancel</button>
    </div>
  </div>
</div>